group1:-fcx-fortran-rules -fcx-limited-range -ffinite-math-only -ffloat-store,-fno-cx-fortran-rules -fno-cx-limited-range -fno-finite-math-only -fno-float-store
group2:-falign-functions -falign-jumps -falign-labels -falign-loops -fcaller-saves,-fno-align-functions -fno-align-jumps -fno-align-labels -fno-align-loops -fno-caller-saves
group3:-fbranch-target-load-optimize -fbranch-target-load-optimize2,-fno-branch-target-load-optimize -fno-branch-target-load-optimize2
group4:-faggressive-loop-optimizations -fasynchronous-unwind-tables,-fno-aggressive-loop-optimizations -fno-asynchronous-unwind-tables
